<!DOCTYPE html>
<html lang="en">
  <head>
      {% block head %}
      <link rel="stylesheet" href="/static/style.css" />
      <title>{% block title %}{% endblock %} - Tilde</title>
      {% endblock %}
  </head>
  <body>
      <div id="header">
        Welcome, {{ user }}
      </div>

      <div id="content">
        {% block content %}{% endblock %}

        <div id="app"></div>
      </div>

      <div id="footer">
        {% block footer %}{% endblock %}
      </div>

      <script src="/static/bundle.js"></script>
  </body>
</html>
