{% extends "_base.html" %}

{% block title %}Debug Retrieve{% endblock %}

{% block content %}
    <h1>Debug Retrieve</h1>

    Term Name: {{ term.name }}<br/>
    Node Id: {{ term.node.id }}<br/>
    Node Name: {{ term.node.name }}<br/>
    Timestamp: {{ term.node.timestamp }}<br/>

    <br/>

    <ul>
      {% for season in term.node.children %}
        <li>
          <b>{{ season }} - {{ season.timestamp }}</b>
          <ul>
            {% for episode in season.children %}
              <li>{{ episode.name }} - {{ episode.timestamp }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>

    {% if result %}
      Id: {{ result.result_item.id }}<br/>
      Name: {{ result.result_item.name }}<br/>
      Timestamp: {{ result.result_item.timestamp }}<br/>
      <br/>
      <ul>
        {% for i_season, season_episodes in result.sub_result_items.items() %}
          <li>
            <b>{{ i_season }}</b>
            <ul>
              {% for i_episode, episode in season_episodes.items() %}
                <li>{{ i_episode }} - {{ episode.name }} - {{ episode.timestamp }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
{% endblock %}