<!DOCTYPE html>
<html>
  <head>
      <title>Flask React</title>
  </head>
  <body>
    <div>RESULTS</div>
    <ul>
      {% for result in item.results %}
        <li>{{ result }}</li>
      {% endfor %}
    </ul>
    <br/>

    <div>LIMIT</div>
    {{ item.result_release_date }}
    <br/>
    <br/>

    <div>ATTRIBUTES</div>
    {{ item.KEYS }}
    <br/>
    <ul>
      {% for k, v in item.result_attributes.items() %}
        <li><b>{{ k }}</b>: {{ v }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
